body{
  background-color: #CABDAC;
}
header nav ul li{
  float: left;
  list-style-type: none;
  margin-left: 2em;
}
header nav ul li{
  text-decoration: none;
  }

header nav{
  float: right;
}
header img{
  height: 125px;
}
header{
  background-color: #7590c2}

#bio{
  float: right;
  background-color: #F5B17B;
  height: 100%;
}

#bio img{
  width: 200px;
}

#blog{

}
footer{
  font-size: 1.4em;
}
footer li{
  float: left;
  margin-right: 1em;
}



.circle {
  background-color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  /* width and height can be anything, as long as they're equal */
}


