body{
  background-color: #bfbfbf;
}
header nav ul li{
  float: left;
  list-style-type: none;
  margin-left: 2em;
}
header nav ul li{
  text-decoration: none;
  }

header nav{
  float: right;
}
header img{
  height: 125px;
}
header{
  background-color: #7590c2}

#bio{
  float: right;
  background-color: #fff;
  height: 100%;
}

#bio img{
  width: 200px;
}

#blog{

}